<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class="slide_con" th:fragment="slide">
				<button id="prev_btn">
					<span class="material-symbols-outlined"> arrow_back_ios </span>
				</button>
				<ul class="slider">
					<li><img src="/img/imgslide1.jpg" class="sli_img"></li>
					<li><img src="/img/imgslide2.jpg" class="sli_img"></li>
					<li><img src="/img/imgslide3.jpg" class="sli_img"></li>
					<li><img src="/img/imgslide4.jpg" class="sli_img"></li>
					<li><img src="/img/imgslide5.jpg" class="sli_img"></li>
					<li><img src="/img/imgslide6.jpg" class="sli_img"></li>
				</ul>
				<button id="next_btn">
					<span class="material-symbols-outlined"> arrow_forward_ios </span>
				</button>
			</div>			

</body>
</html>