<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.member.mapper.MemberMapper">

	<sql id="postColumns">
		id
		, pwd
		, name
		, addr
		, tel
		, email
		, birth
		, gender
		, type
	</sql>


	<!-- 게시글 저장 -->
	<insert id="insert" parameterType="com.member.model.Member"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO member (
		<include refid="postColumns" />
		) VALUES (
		#{id}
		, #{pwd}
		, #{name}
		, #{addr}
		, #{tel}
		, #{email}
		, #{birth}
		, #{gender}
		, #{type}
		)
	</insert>
	<select id="AllMember" resultType="com.member.model.Member">
		SELECT * FROM Member	
	</select>
	<update id="EmailNum" parameterType="String">
		UPDATE Member SET wish=#{wish} WHERE email=#{email}
	</update>
	<select id="EmailCode" parameterType="String" resultType="String">
		SELECT id FROM member WHERE email=#{email} AND wish=#{wish}
	</select>
	<select id="getMember" parameterType="String"
		resultType="com.member.model.Member">
		SELECT
		<include refid="postColumns" />
		FROM
		member
		WHERE
		id = #{id}
	</select>

	<update id="editMember" parameterType="com.member.model.Member">
		UPDATE member SET
		pwd=#{pwd}
		, name=#{name}
		, addr=#{addr}
		, tel=#{tel}
		, birth=#{birth}
		WHERE id=#{id}

	</update>
	
	<delete id="delMember" parameterType="String">
		DELETE FROM member WHERE id=#{id} 
	</delete>
	
	
	
	
	
</mapper>
