@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SLEIGothicTTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#container {
	width: 100%;
	height: 1800px;
}

#addmem_con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 1540px;
}

.addmem_box {
	font-family: 'Pretendard-Regular';
	border: 2px solid #e2e2e2;
	width: 800px;
	height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.addmem_box h3 {
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
}

.addmem_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}
#idchk{
	width:50px;
	height:50px;
}

.form_tag {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
	height: 5%;
}

.form_set1 {
	margin-bottom: 5px;
	width: 40%;
	height: 5%;
}

.radio_set {
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
	height: 5%;
}

.add_btn_layout {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 5%;
}

.addmem_form button {
	margin: 20px;
	width: 30%;
	height: 100%;
	border: 2px solid #e2e2e2;
}