<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<footer id="foo_con" th:fragment="footer">
			<div class="foo_imgbox">
				<a href="#"><img src="/images/facebook.png" alt="facebook"></a>
				<a href="#"><img src="/images/insta.png" alt="instagram"></a>
				<a href="#"><img src="/images/git.png" alt="github"></a>

			</div>
			<div class="foo_textbox">
				<span>대표전화:010-1234-5678 &nbsp;|&nbsp; </span>
				<p>이메일:pows1031@naver.com </p>
			</div>


		</footer>
</body>
</html>