#container {
	width: 100%;
	height: 1500px;
}

@font-face {
	font-family: 'neon';
	src: url('/font/HeirofLightBold.ttf') format('truetype');
}

#login_main_con {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 1300px;
}

.login_con {
	margin-top: 100px;
	width: 800px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #e2e2e2;
}

.log_img_box {
	position: relative;
	width: 400px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.log_img_slider{
	position:relative;
	overflow:hidden;
	width:400px;
	height: 600px;
}
.log_img_slider li{
	width:400px;
	height: 600px;
	position: absolute;
}
.log_img{
	width:400px;
	height: 100%;
}
.log_img_box span {
	z-index:1;
	font-family: 'neon';
	color: white;
	position: absolute;
	font-weight: bold;
	font-size: 18px;
}
.sp1 {
	top: 30px;
}
.sp2 {
	top: 50px;
}

.login_box {
	width: 400px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login_tag {
	margin-top: 50px;
	font-family: 'Yeseva One', cursive;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	font-weight: bold;
	color: gray;
}

.login_form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 50px;
}

.login_form input {
	width: 250px;
	height: 50px;
	margin: 15px;
	border:1px solid #e2e2e2;
	border-radius: 5px;
}
.login_form button{
	margin-top:30px;
	width:250px;
	height:50px;
	border:1px solid #e2e2e2;
	border-radius:5px;
}

.login_form button:hover{
	background-color:#3399FF;
	color:white;
	opacity:0.8;
}